# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.c text eol=crlf
*.h text eol=crlf
*.inc text eol=crlf
*.ini text eol=crlf
*.asm text eol=crlf
*.txt text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.mak text eol=crlf

makefile text eol=crlf
srcpath text eol=crlf


# Denote all files that are truly binary and should not be modified.
*.exe binary
*.bin binary
*.obj binary
*.lib binary
*.idd binary

# Custom for Visual Studio
*.cs	 diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
