#include "resource.h"
#include <WinResrc.h>

IDD_MAINDIALOG DIALOGEX 0, 0, 204, 135
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReceiveWM_COPYDATA"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX	    "MY_STRUCT",IDC_STATIC,7,7,190,121
    LTEXT	    "Number:",IDC_STATIC,17,24,28,8
    LTEXT	    "Message:",IDC_STATIC,17,42,32,8
    LTEXT	    "",IDC_NUMBER_STATIC,61,24,127,8
    LTEXT	    "",IDC_MESSAGE_STATIC,61,42,127,78
END
