#include "resource.h"
#include <WinResrc.h>

IDD_MAINDIALOG DIALOGEX 0, 0, 205, 98
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SendWM_COPYDATA"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX	    "MY_STRUCT",IDC_STATIC,7,7,191,64
    PUSHBUTTON	    "Send Message",IDC_SENDMSG_BUTTON,121,77,68,14
    LTEXT	    "Number:",IDC_STATIC,17,26,28,8
    LTEXT	    "Message:",IDC_STATIC,17,46,32,8
    EDITTEXT	    IDC_NUMBER_EDIT,63,24,128,14,ES_AUTOHSCROLL
    EDITTEXT	    IDC_MESSAGE_EDIT,63,44,128,14,ES_AUTOHSCROLL
END